<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="personalArea-css.css" rel="stylesheet">
    <title>Personal Area</title>
</head>
<body>
<header>
    <div class="header-logo"></div>
    <div class="header-menu_wrapper">
        <div class="header-menu">
            <div>Главная</div>
            <div>PRO</div>
            <div>Новости</div>
            <div>Поддержка</div>
        </div>
    </div>
    <div class="user_wrapper">
        <div class="user">
            <div class="username">Creative Tim</div>
            <div class="bot">bot123</div>
        </div>
        <div class="user-icon"></div>
    </div>
</header>
<main>
    <aside>
        <div class="sidebar_wrapper">
            <ul class="sidebar">
                <li>Учетная запись</li>
                <li>Способы оплаты</li>
                <li>История</li>
                <li>Календарь</li>
            </ul>
        </div>
    </aside>

    <div class="content-block">
        <div class="actions-block">
            <div class="status">
                <div class="state-block">
                    <div class="state">Статус:</div>
                    <div class="stars-block">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="condition">Профи</div>
            </div>
            <div class="team">
                <div class="team-header">Команда:</div>
                <div class="team-name">qwerty</div>
            </div>
            <div class="place">
                <div class="place-header">Место:</div>
                <div class="rating">3</div>
            </div>
            <div class="gamer">
                <div class="gamer-icon"></div>
                <div class="del_account">Удалить аккаунт</div>
            </div>
            <form class="personal_data">
                <div>
                    <label for="mail" class="form-field">Почта</label>
                    <input id="mail" type="text" value="vertour@gmail.com"/>
                    <label for="submit" class="submit">Изменить</label>
                </div>
                <div>
                    <label for="phone" class="form-field">Телефон</label>
                    <input id="phone" type="text" value="+7 (978) 123 36 69"/>
                    <label for="submit" class="submit">Изменить</label>
                </div>
                <div>
                    <label for="pass" class="form-field">Пароль</label>
                    <input id="pass" type="text" value="*****************"/>
                    <label for="submit" class="submit">Изменить</label>
                </div>
                <div>
                    <label for="purse" class="form-field">Кошелек Vertour</label>
                    <input id="purse" type="text" value="532 руб."/>
                    <label for="submit" class="submit">Способы оплаты</label>
                </div>
                <input id="submit" type="submit">
            </form>
            <div class="add_game">
                <div class="games">Игры</div>
                <div class="add">+ Добавить игру</div>
            </div>
            <div class="games_list">
                <div class="game_block">
                    <div class="game">Riot Games</div>
                    <div class="button">- Отвязать</div>
                </div>
                <div class="game_block">
                    <div class="game">Riot Games</div>
                    <div class="button">- Отвязать</div>
                </div>
                <div class="game_block">
                    <div class="game">Riot Games</div>
                    <div class="button">- Отвязать</div>
                </div>
            </div>

            <div class="new_games">
                <div class="new_games_list">
                    <div class="game_block">
                        <div class="game">Riot Games</div>
                        <div class="button">+ Привязать</div>
                    </div>

                    <div class="game_block">
                        <div class="game">Riot Games</div>
                        <div class="button">+ Привязать</div>
                    </div>

                    <div class="game_block">
                        <div class="game">Riot Games</div>
                        <div class="button">+ Привязать</div>
                    </div>
                </div>
            </div>

            <div class="delete_account">
                <p>Вы действительно хотите<br>
                    удалить аккаунт?</p>
                <div class="btn_block">
                    <button value="yes">да</button>
                    <button value="no">нет</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>