<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="mainPage-css.css" rel="stylesheet">
    <title>Main page</title>
</head>
<body>
<header>
    <div class="header-logo"></div>
    <div class="header-menu_wrapper">
        <div class="header-menu">
            <div>Главная</div>
            <div>PRO</div>
            <div>Новости</div>
            <div>Поддержка</div>
        </div>
    </div>
    <div class="user_wrapper">
        <div class="user">
            <div class="username">Creative Tim</div>
            <div class="bot">bot123</div>
        </div>
        <div class="user-icon"></div>
    </div>
</header>
<main>
    <aside>
        <div class="sidebar_wrapper">
            <div class="games">Игры</div>
            <ul class="sidebar">
                <li>Counter Strike:
                    Global Offensive</li>
                <li>Dota 2</li>
                <li>Fortnite</li>
                <li>League  of Legends</li>
                <li>StarCraft</li>
            </ul>
        </div>
    </aside>

    <div class="content-block">
        <div class="actions-block">
            <div class="actions-menu">
                <div>Все турниры</div>
                <div>Календарь</div>
                <div>Профи</div>
                <div>Рейтинг</div>
                <div>Создать турнир</div>
            </div>
            <div class="actions">
                <div class="action">
                    <div class="action-title_wrapper">
                        <div class="action-title">Masters Tournament Season 2</div>
                    </div>
                    <div class="vertour">Vertour</div>
                    <div class="contenders_wrapper">
                        <div class="first">
                            <div class="contender">GM</div>
                            <div class="index">(2.26)</div>
                        </div>
                        <div class="vs">VS</div>
                        <div class="second">
                            <div class="contender">Cyanide</div>
                            <div class="index">(1.61)</div>
                        </div>
                    </div>
                    <div class="action-date">1.11.2019</div>
                    <div class="participate">
                        <div>Участвовать</div>
                    </div>
                </div>
                <div class="action">
                    <div class="action-title_wrapper">
                        <div class="action-title">Masters Tournament Season 2</div>
                    </div>
                    <div class="vertour">Vertour</div>
                    <div class="contenders_wrapper">
                        <div class="first">
                            <div class="contender">GM</div>
                            <div class="index">(2.26)</div>
                        </div>
                        <div class="vs">VS</div>
                        <div class="second">
                            <div class="contender">Cyanide</div>
                            <div class="index">(1.61)</div>
                        </div>
                    </div>
                    <div class="action-date">1.11.2019</div>
                    <div class="participate">
                        <div>Участвовать</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>