<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="selectedTourney-css.css" rel="stylesheet">
    <title>Selected tourney</title>
</head>
<body>
<header>
    <div class="header-logo"></div>
    <div class="header-menu_wrapper">
        <div class="header-menu">
            <div>Главная</div>
            <div>PRO</div>
            <div>Новости</div>
            <div>Поддержка</div>
        </div>
    </div>
    <div class="user_wrapper">
        <div class="user">
            <div class="username">Creative Tim</div>
            <div class="bot">bot123</div>
        </div>
        <div class="user-icon"></div>
    </div>
</header>
<main>
    <aside>
        <div class="sidebar_wrapper">
            <div class="games">Игры</div>
            <ul class="sidebar">
                <li>Counter Strike:
                    Global Offensive</li>
                <li>Dota 2</li>
                <li>Fortnite</li>
                <li>League  of Legends</li>
                <li>StarCraft</li>
            </ul>
        </div>
    </aside>

    <div class="content-block">
        <div class="actions-block">
            <div class="actions-menu">
                <div>Все турниры</div>
                <div>Календарь</div>
                <div>Профи</div>
                <div>Рейтинг</div>
                <div>Создать турнир</div>
            </div>

            <div class="tourney">
                <div class="tourney-picture"></div>
                <div class="tourney-file">
                    <div class="tourney-name">DOTA UNDERLORDS</div>
                    <div class="organizer">Организатор: Vertour</div>
                    <div class="regulations">Правила турнира:</div>
                    <div class="entrance">Вход: 400 р.</div>
                    <div class="tourney-date">Дата: 12.11.2019</div>
                </div>
            </div>

            <div class="tourney-specification">
                <div class="participants">
                    <div class="participants-header">Участники</div>
                    <div class="participants-list">
                        <div class="participant">
                            <div class="participant-name">Sam456 (PRO)</div>
                            <div class="participant-index">4567</div>
                        </div>
                        <div class="participant">
                            <div class="participant-name">Sam456 (PRO)</div>
                            <div class="participant-index">4567</div>
                        </div>
                    </div>
                </div>
                <div class="prize-pool">
                    <div class="prize-pool-header">Призовой фонд</div>
                    <div class="prize-sum">
                        <div class="sum">600 Р</div>
                    </div>
                </div>
                <div class="sponsors">
                    <div class="sponsors-header">Спонсоры</div>
                    <div class="sponsors-list">
                        <div class="sponsor">
                            <div class="sponsor-name">Venom</div>
                            <div class="sponsor-sum">600</div>
                        </div>
                        <div class="sponsor">
                            <div class="sponsor-name">Venom</div>
                            <div class="sponsor-sum">600</div>
                        </div>
                    </div>
                </div>

                <div class="participate">
                    <div>Участвовать</div>
                </div>
            </div>


        </div>
    </div>
</main>
</body>
</html>