@font-face{

    font-family: 'GothamPro';

    src: url('../fonts/Gotham Pro/GothamPro.eot');

    src: url('../fonts/Gotham Pro/GothamPro.eot?iefix') format('eot'),

    url('../fonts/Gotham Pro/GothamPro.woff') format('woff'),

    url('../fonts/Gotham Pro/GothamPro.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

body {
    font-family: GothamPro, monospace, sans-serif;
    color:  #FFFFFF;
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    width: 307px;
    height: 100px;
    background: url("../images/logo6 1.png") no-repeat 35px center;
}

.header-menu_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 135px;
}

.header-menu {
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu div {
    box-sizing: border-box;
    height: 100px;
    padding: 36px 25px 47px;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    cursor: pointer;
    text-align: center;
}

.header-menu div:hover {
    background: rgba(67, 67, 67, 0.6);
}

.user_wrapper {
    flex-grow: 1;
    padding-left: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.username {
    font-size: 18px;
}

.bot {
    font-size: 16px;
    color: #FFE500;
}

.user-icon {
    background: url("../images/Logo.png") no-repeat center center;
    width: 50px;
    height: 50px;
}

main {
    min-height: 1000px;
    height: 100%;
    position: relative;
}

aside {
    background: rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(196, 196, 196, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 307px;
}

.games {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar li {
    height: 42px;
    box-sizing: border-box;
    padding-left: 35px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 13px;
    cursor: pointer;
}

.sidebar li:hover {
    background: rgba(37, 35, 35, 0.5);
}

.sidebar li:before {
    margin-right: 22px;
    vertical-align: -20%;
    display: inline-block;
}

.sidebar li:nth-child(1):before {
    content: url("../images/sidebar/csgo-icon.png");
}

.sidebar li:nth-child(2):before {
    content: url("../images/sidebar/dota-2-icon.png");
}

.sidebar li:nth-child(3):before {
    content: url("../images/sidebar/icons8-fortnite-48.png");
}

.sidebar li:nth-child(4):before {
    content: url("../images/sidebar/icons8-league-of-legends-144.png");
}

.sidebar li:nth-child(5):before {
    content: url("../images/sidebar/icons8-starcraft-ii-96.png");
}

.content-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 307px;
    right: 0;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.actions-block {
    background: rgba(29, 24, 28, 0.7);
    min-height: 400px;
    height: auto;
    margin-bottom: 40px;
}

.actions-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.actions-menu div {
    padding: 20px 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    border: 1px solid rgba(196, 196, 196, 0.2);
    box-sizing: border-box;
    cursor: pointer;
}

.actions-menu div:hover {
    background: rgba(67, 67, 67, 0.6);
}

.tourney {
    margin: 38px 29px 48px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.tourney-picture {
    width: 300px;
    height: 320px;
    content: url("../images/tourney/Rectangle 126.png");
    margin-right: 69px;
}

.tourney-file {
    text-align: left;
}

.tourney-name {
    font-size: 24px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.organizer,
.regulations,
.entrance,
.tourney-date {
    font-size: 16px;
    margin-bottom: 18px;
}

.tourney-specification {
    margin: 0 50px 21px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 47px;
}

.participants,
.prize-pool,
.sponsors {
    grid-column: span;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
}

.participants-header,
.prize-pool-header,
.sponsors-header {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 13px;
}

.participants-list,
.sponsors-list {
    margin-top: 20px;
    min-height: 295px;
}

.participant,
.sponsor {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participant-name,
.sponsor-name {
    font-size: 14px;
}

.participant-index,
.sponsor-sum {
    font-size: 14px;
    color: #FF0000;
}

.prize-sum {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 295px;
}

.sum {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 130px;
    height: 80px;
    color: #FFE500;
    font-size: 18px;
}

.participate {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participate div {
    font-size: 14px;
    line-height: 13px;
    background: #840318;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 11px 30px;
    box-sizing: border-box;
    cursor: pointer;
}