<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="calendarPage-css.css" rel="stylesheet">
    <title>Calendar page</title>
</head>
<body>
<header>
    <div class="header-logo"></div>
    <div class="header-menu_wrapper">
        <div class="header-menu">
            <div>Главная</div>
            <div>PRO</div>
            <div>Новости</div>
            <div>Поддержка</div>
        </div>
    </div>
    <div class="user_wrapper">
        <div class="user">
            <div class="username">Creative Tim</div>
            <div class="bot">bot123</div>
        </div>
        <div class="user-icon"></div>
    </div>
</header>
<main>
    <aside>
        <div class="sidebar_wrapper">
            <div class="games">Игры</div>
            <ul class="sidebar">
                <li>Counter Strike:
                    Global Offensive</li>
                <li>Dota 2</li>
                <li>Fortnite</li>
                <li>League  of Legends</li>
                <li>StarCraft</li>
            </ul>
        </div>
    </aside>

    <div class="content-block">
        <div class="actions-block">
            <div class="actions-menu">
                <div>Все турниры</div>
                <div>Календарь</div>
                <div>Профи</div>
                <div>Рейтинг</div>
                <div>Создать турнир</div>
            </div>
            <div class="calendar">
                <div class="events-line">
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">CS:GO</div>
                        <div class="event-date">14.12.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">Chongqin Major</div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">The International DOTA </div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">Fortnite Battle Royale</div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                </div>
                <div class="events-line">
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">CS:GO</div>
                        <div class="event-date">14.12.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">Chongqin Major</div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">The International DOTA </div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                    <div class="event-block">
                        <div class="event-picture"></div>
                        <div class="event-name">Fortnite Battle Royale</div>
                        <div class="event-date">14.09.2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>