<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="landing-css.css" rel="stylesheet">
    <title>Landing</title>
</head>
<body>
    <div class="landing-block">
        <div class="logo"></div>
        <div class="associate">Присоединяйся к Vertour!</div>
        <div class="play">
            Играй в игры,<br />
            выигрывай призы!
        </div>
        <div class="check_in">Регистрируйся</div>
    </div>
    <div class="landing-block">
        <div class="manifest">
            <div class="manifest_header">Будь первым!</div>
            <div class="manifest_body">
                <p>
                    Привет! Мы разрабатываем Vertour - платформу, где ты сможешь участвовать в турнирах в любое время, и получать за это денежные призы!
                    А еще здесь можно будет записать на игру с настоящими профессионалам и любимым стримером! Если хочешь почувствовать себя настоящим киберспортсменом, и, возможно, стать таковым (да-да, с этим мы тоже планируем помогать), регистрируйся уже сейчас, чтобы стать одним из первых участников Vertour!
                </p>
            </div>
        </div>
    </div>
    <div class="landing-block">
        <div class="manifest">
            <div class="manifest_header">Стань известным!</div>
            <div class="manifest_body">
                <p>
                    Мы планируем сделать победы с нами не только
                    оплачиваемыми, но и значинмыми для репутации. Одна из задач состоит
                    в том, что, выигрывая у нас, вы становитесь заметнее для организаций,
                    и повышайте свои шансы выйти на мировую киберарену.
                </p>
            </div>
        </div>
    </div>
    <div class="landing-block">
        <div class="manifest">
            <div class="manifest_header">Игры с профи</div>
            <div class="manifest_body">
                <div class="check_in_block">
                    <p>
                        На нашей платформе профи смогут вести свой
                        календарь, и открывать записи, выбирать когда и за сколько они готовы сыграть с фанатами. Просто найди нужного игрока, зайди в его календарь, запишись на ближайшую доступную игру!
                    </p>
                    <div class="check_in">Регистрируйся</div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-block">
        <div class="vector"></div>
        <div class="play">Регистрируйся уже сейчас!</div>
        <div class="check_in">Регистрируйся</div>
    </div>
</body>
</html>
