body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{

  font-family: 'GothamPro';

  src: url('./app/fonts/Gotham Pro/GothamPro.eot');

  src: url('./app/fonts/Gotham Pro/GothamPro.eot?iefix') format('eot'),

  url('./app/fonts/Gotham Pro/GothamPro.woff') format('woff'),

  url('./app/fonts/Gotham Pro/GothamPro.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}

@font-face{

  font-family: 'Roboto';

  src: url('./app/fonts/Roboto/Roboto.woff'),

  url('./app/fonts/Roboto/Roboto.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}